<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico"/>
	<meta name="description" content="页面描述"/>
	<meta name="keywords" content="关键字,关键字"/>
	<meta name="robots" content="index,follow"/>
	<meta property="qc:admins" content="3561363463671655130167305676375" />
	
	<meta name="renderer" content="webkit">
	<title>宛美商城</title>
	<link rel="stylesheet" type="text/css" href="__CSS__global.css"/>
	<link rel="stylesheet" href="__CSS__index.css">
</head>
<body>
	<include file="Common/header" />
	<div class="center-block">
		<div class="n_nav cl">
			<a href="" class="all">所有商品分类</a>
			<a href="/index.php/Home/Index/index" class="a_nav">商城首页</a>
			<a href="/index.php/Home/Index/search_product.html?search=食品饮料" class="a_nav">食品饮料</a>
			<a href="/index.php/Home/Index/search_product.html?search=特色收藏" class="a_nav">特色收藏</a>
			<a href="/index.php/Home/Index/search_product.html?search=成人专区" class="a_nav">成人专区</a>
			<a href="" class="a_nav">秀家</a>
			<div class="clear"></div>
		</div>
	</div>

	<div class="center-block" style="position:relative">
		<div class="more_nav">
			<div class="sub_nav">
				<ul class="sn_list">
					<foreach name="cate" key="k" item="value">
					<li class="navMap" style="background-image:url({$value.cate_icon});">
						<a href="/index.php/Home/Index/search_product.html?search={$value.cate_name}" class="sn_title cl"><p>{$value.cate_name}</p><span>></span><div class="clear"></div></a>
						<div class="f_nav">
							<foreach name="value.cate_son" key="key" item="val">
							<a href="/index.php/Home/Index/search_product.html?search={$val.cate_name}" <?php if($key%3==2){echo "class='fn_last'";} ?>>{$val.cate_name}</a>
							</foreach>
							<div class="clear"></div>
						</div>
					</li>
					</foreach>
					<!--<li class="rj navMap">
						<a href="" class="sn_title"><p>热荐</p><span>></span><div class="clear"></div></a>
						<div class="f_nav">
							<a href="" >葡萄酒</a>
							<a href="">红酒</a>
							<a href="" class="fn_last">起泡酒</a>
							<a href="" >葡萄酒</a>
							<a href="">红酒</a>
							<a href="" class="fn_last">起泡酒</a>
							<div class="clear"></div>
						</div>
					</li>-->
				</ul>
				<div class="tj">
					<a href="" class="tj_color">热荐</a>
					<a href="" class="">推荐</a>
					<a href="" class="">特价</a>
					<a href="" class="tj_last tj_color">团购</a>
					<a href="" class="">套装</a>
					<a href="" class="tj_color">体验馆</a>
					<a href="" class="tj_last tj_color">新品</a>
					<a href="" class="new"><img src="__IMAGES__new.png" alt="" ></a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="third_nav">
				<div class="tn_left">
					
				</div>
				<div class="tn_right">
					<div class="tr">
						<div class="tn_title">
							<a href="" class="tt_left">进口食品</a><a href="" class="tt_right">MORE+</a>
							<div class="clear"></div>
						</div>
					</div>
					<img src="__IMAGES__rok_15.png" alt="" class="tr_case">
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="slideBox" class="slideBox">
		<div class="hd">
			<ul><foreach name="ban1" item="val"><li></li></foreach></ul>
		</div>
		<div class="bd">
			<ul>
				<foreach name="ban1" item="val">
					<li><a href="{$val.ban_gourl}" target="_blank"><img src="{$val.ban_url}" /></a></li>
				</foreach>
			</ul>
		</div>

		<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
		<a class="prev" href="javascript:void(0)"></a>
		<a class="next" href="javascript:void(0)"></a>

	</div>
	<div class="recommend">
		<div class="rec_main">
			<h2>今日推荐<span>/ TODAY'S RECOMMENDATION</span></h2>
			<div class="rm_tj">
				<div class="rm_div1">
					<ul class="rm_list">
						<foreach name="ban2" item="val">
							<li><a href="{$val.ban_gourl}"><img src="{$val.ban_url}" alt="" style="width:223px;height:250px;" /></a></li>
						</foreach>
					</ul>
					<ul class="xh_list">
						<foreach name="ban2" item="val">
							<li></li>
						</foreach>
					</ul>
				</div>

				<div class="rm_div2">
					<a href="{$reco.0.rec_gourl}"><img src="{$reco.0.rec_url}" alt=""></a>
				</div>
				<div class="rm_div3">
					<a href="{$reco.1.rec_gourl}"><img src="{$reco.1.rec_url}" alt=""></a>
					<a href="{$reco.2.rec_gourl}"><img src="{$reco.2.rec_url}" alt=""></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="rm_ban">
				<a href=""><img src="__IMAGES__ban_ad.png" alt=""></a>
			</div>
		</div>
	</div>

	

	<div class="second">
		<div class="sec_main">
			<h2>1F食品饮料<span>/ FOOD AND BEVERAGE</span></h2>
			<div class="fm">
				<div class="fm_div1">
					<div class="fd1_top"><a href=""><img src="__IMAGES__spyl_03.png" alt=""></a></div>
					<div class="fd1_middle">
						<ul class="fm_list">
							<foreach name="cate.0.cate_son" item="val">
							<li style="background: url({$val.cate_icon}) no-repeat 0 2px"><a href="/index.php/Home/Index/search_product.html?search={$val.cate_name}">{$val.cate_name}</a></li>
							</foreach>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="fd1_bottom">
						<foreach name="cate.0.cate_son" item="val">
						<foreach name="val.cate_son" item="v">
						<a href="" class="fb_color">{$v.cate_name}</a>
						</foreach>
						</foreach>
					</div>
				</div>
				<div class="fm_div2">
					<ul class="thi_list">
						<foreach name="pro1" item="val">
							<li>
								<img src="{$val.pro_thumb}" alt="">
								<div class="bg">
									<a href="/index.php/Home/Index/product_detail.html?search={$val.pro_title}&pro_sku={$val.pro_sku}" class="ljgd">了解更多</a>
									<a href="" class="sc">收藏</a>
								</div>
								<div class="jieshao">
									<h4>¥<if condition="$val['pro_promotion_price'] EQ 0">{$val.pro_current_price}<else />{$val.pro_promotion_price}</if></h4>
									<p>{$val.pro_title}</p>
								</div>
							</li>
						</foreach>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="second">
		<div class="sec_main">
			<h2>2F特色收藏<span>/ CHARACTERISTIC COLLECTION</span></h2>
			<div class="fm">
				<div class="fm_div1">
					<div class="fd1_top"><a href=""><img src="__IMAGES__2f.png" alt=""></a></div>
					<div class="fd1_middle">
						<ul class="fm_list">
							<foreach name="cate.1.cate_son" item="val">
							<li style="background: url({$val.cate_icon}) no-repeat 0 2px"><a href="/index.php/Home/Index/search_product.html?search={$val.cate_name}">{$val.cate_name}</a></li>
							</foreach>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="fd1_bottom">
						<foreach name="cate.1.cate_son" item="val">
						<foreach name="val.cate_son" item="v">
						<a href="" class="fb_color">{$v.cate_name}</a>
						</foreach>
						</foreach>
					</div>
				</div>
				<div class="fm_div2">
					<ul class="thi_list">
						<foreach name="pro2" item="val">
							<li>
								<img src="{$val.pro_thumb}" alt="">
								<div class="bg">
									<a href="/index.php/Home/Index/product_detail.html?search={$val.pro_title}&pro_sku={$val.pro_sku}" class="ljgd">了解更多</a>
									<a href="" class="sc">收藏</a>
								</div>
								<div class="jieshao">
									<h4>¥<if condition="$val['pro_promotion_price'] EQ 0">{$val.pro_current_price}<else />{$val.pro_promotion_price}</if></h4>
									<p>{$val.pro_title}</p>
								</div>
							</li>
						</foreach>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

 	<div class="third">
		<div class="thi_main">
			<h2>3F成人专区<span>/ ADULT ZONE</span></h2>
			<div class="fm">
				<div class="fm_div1">
					<div class="fd1_top"><a href=""><img src="__IMAGES__3f_34.png" alt=""></a></div>
					<div class="fd1_middle">
						<ul class="fm_list">
							<foreach name="cate.2.cate_son" item="val">
							<li style="background: url({$val.cate_icon}) no-repeat 0 2px"><a href="/index.php/Home/Index/search_product.html?search={$val.cate_name}">{$val.cate_name}</a></li>
							</foreach>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="fd1_bottom">
						<foreach name="cate.2.cate_son" item="val">
							<foreach name="val.cate_son" item="v">
							<a href="" class="fb_color">{$v.cate_name}</a>
							</foreach>
						</foreach>
					</div>
				</div>
				<div class="fm_div2">
					<ul class="thi_list">
						<foreach name="pro3" item="val">
							<li>
								<img src="{$val.pro_thumb}" alt="">
								<div class="bg">
									<a href="/index.php/Home/Index/product_detail.html?search={$val.pro_title}&pro_sku={$val.pro_sku}" class="ljgd">了解更多</a>
									<a href="" class="sc">收藏</a>
								</div>
								<div class="jieshao">
									<h4>¥{$val.pro_promotion_price}</h4>
									<p>{$val.pro_title}</p>
								</div>
							</li>
						</foreach>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="rm_ban">
				<a href=""><img src="__IMAGES__ban_ad.png" alt=""></a>
			</div>
		</div>
	</div>
	
	<!-- <div class="brand">
		<div class="bra_main">
			<h2>热门品牌<span>/ HOT BRAND</span></h2>
			<div class="bm">
				<div class="bm_left">
					<div class="bl_top">
						<ul class="blt_list">
							<li class="blt_click"><a href=""><img src="__IMAGES__brand_07.png" alt=""></a><div class="blt_bg"></div></li>
							<li><a href=""><img src="__IMAGES__brand_07.png" alt=""></a><div class="blt_bg"></div></li>
							<li><a href=""><img src="__IMAGES__brand_07.png" alt=""></a><div class="blt_bg"></div></li>
						</ul>
						<ul class="blx_list">
							<li class="blx_click"></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="bl_bottom">
						<p class="blb_p1">今日品牌</p>
						<p class="blb_p2">CICOO<span class="p2_sp1">3.2</span><span class="p2_sp2">折起</span></p>
					</div>
				</div>
				<div class="bm_right">
					<ul class="br_list">
						<li class="br_click">
							<a href=""><img src="__IMAGES__rmpp_03.png" alt=""></a>
							<div class="bg">
								<a href="" class="ljgd">了解更多</a>
							</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
		</div>
	</div> -->

	<include file="Common/footer" />
</body>
</html>
<script type="text/javascript" src="__JS__jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__JS__jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__JS__js.js"></script>
<script type="text/javascript">
$(function(){
	jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,effect:"fold",interTime:5000,trigger:"click"});
	
	var i =0;
	function slide(){
		$('.xh_list li').eq(i).removeClass('rm_on');
		$('.rm_list li').eq(i).hide();
		i < $('.xh_list li').length-1 ? i++ : i = 0;
		$('.xh_list li').eq(i).addClass('rm_on');
		$('.rm_list li').eq(i).fadeIn(688);
	}
	var timer = setInterval(slide,5000);
	
	$('.xh_list li').mouseenter(function(){
		clearInterval(timer);
		i = $(this).index();
		$(this).addClass('rm_on').siblings().removeClass('rm_on');
		$('.rm_list li').hide();
		$('.rm_list li').eq(i).fadeIn(688);
	});
	
	$('.xh_list li').mouseleave(function(){
		timer = setInterval(slide,5000);
	});
	
	$('.thi_list li').mouseover(function(){
		$(this).addClass('thi_click').siblings().removeClass('thi_click');
	});
	$('.br_list li').mouseover(function(){
		$(this).addClass('br_click').siblings().removeClass('br_click');
	});
	
	var a =0;
	function pinpai(){
		$('.blx_list li').eq(a).removeClass('blx_click');
		$('.blt_list li').fadeOut(588);
		a < $('.blx_list li').length-1 ? a++ : a = 0;
		$('.blx_list li').eq(a).addClass('blx_click');
		$('.blt_list li').eq(a).fadeIn(688);
	}
	var time = setInterval(pinpai,5000);
	
	$('.blx_list li').mouseenter(function(){
		clearInterval(time);
		a = $(this).index();
		$(this).addClass('blx_click').siblings().removeClass('blx_click');
		$('.blt_list li').hide();
		$('.blt_list li').eq(a).fadeIn(688);
	});
	
	$('.blx_list li').mouseleave(function(){
		time = setInterval(pinpai,5000);
	});
	
	var third_nav_hide_timer = null;
	$('.navMap').mouseenter(function(){
		clearInterval(third_nav_hide_timer);
		$('.third_nav').finish().fadeIn();
	});
	$('.navMap').mouseleave(function(){
		third_nav_hide_timer = setTimeout(function(){
			$('.third_nav').fadeOut();
		},200);
	});
	$('.third_nav').mouseenter(function(){
		clearInterval(third_nav_hide_timer);
	});
	$('.third_nav').mouseleave(function(){
		$(this).fadeOut();
	});
});
</script>