<div class="footer">
			<div class="footer_top">
				<div class="center-block cl">
					<div class="fl trait trait1">满额包邮  极速配送</div>
					<div class="fl trait trait2">正品保障  精致服务</div>
					<div class="fl trait trait3">天天低价  畅选无忧</div>
					<div class="fl trait trait4">售后无忧  轻松购物</div>
				</div>
			</div>
			<div class="footer_center">
				<div class="center-block cl">
					<div class="fl col wx">
						<p>微信公众号</p>
						<img src="__IMAGES__wx.jpg"/>
					</div>
					<div class="fl col">
						<p>新手指南</p>
						<a href="/index.php/Home/User/help_center">购物流程</a>
						<a href="/index.php/Home/User/help_center">会员介绍</a>
						<a href="/index.php/Home/User/help_center">生活旅行/团购</a>
						<a href="/index.php/Home/User/help_center">常见问题</a>
						<a href="/index.php/Home/User/help_center">大家电</a>
						<a href="/index.php/Home/User/help_center">联系客服</a>
					</div>
					<div class="fl col">
						<p>关于优库</p>
						<a href="/index.php/Home/User/help_center">公司简介</a>
						<a href="/index.php/Home/User/help_center">联系我们</a>
						<a href="/index.php/Home/User/help_center">诚聘英才</a>
						<a href="/index.php/Home/User/help_center">会员介绍</a>
					</div>
					<div class="fl col">
						<p>购物保障</p>
						<a href="/index.php/Home/User/help_center">正品保证</a>
						<a href="/index.php/Home/User/help_center">注册协议</a>
						<a href="/index.php/Home/User/help_center">隐私保护</a>
					</div>
					<div class="fl col">
						<p>售后服务</p>
						<a href="/index.php/Home/User/help_center">3天无质量可退还</a>
						<a href="/index.php/Home/User/help_center">如何申请退款</a>
						<a href="/index.php/Home/User/help_center">售后政策</a>
						<a href="/index.php/Home/User/help_center">价格保护</a>
						<a href="/index.php/Home/User/help_center">返修/退换货</a>
						<a href="/index.php/Home/User/help_center">取消订单</a>
					</div>
					<div class="fl col">
						<p>配送服务</p>
						<a href="/index.php/Home/User/help_center">配送方式</a>
						<a href="/index.php/Home/User/help_center">上门自提</a>
						<a href="/index.php/Home/User/help_center">配送服务查询</a>
						<a href="/index.php/Home/User/help_center">配送费收取标准</a>
						<a href="/index.php/Home/User/help_center">海外配送</a>
					</div>
					<div class="fl col">
						<p>支付方式</p>
						<a href="/index.php/Home/User/help_center">快捷支付</a>
						<a href="/index.php/Home/User/help_center">支付宝支付</a>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div>
					<a href="/index.php/Home/User/help_center">商家入驻</a>
					<span></span>
					<a href="/index.php/Home/User/help_center">客服中心</a>
					<span></span>
					<a href="/index.php/Home/User/help_center">网站地图</a>
				</div>
				<div>© 2005-2015 优库综合平台 版权所有，并保留所有权利</div>
			</div>
		</div>
			<div class="fixed">
			<div class="Member_pic"><a href="/index.php/Home/User/index"><img src="{$member.vip_avatar}" style="width:25px;height:25px;" /></a></div>
			<ul>
				<li class="f1"><a href="/index.php/Home/User/shopping_cart">购物车</a><span>{$member.vip_shopping_count}</span></li>
				 <li class="f2" onMouseOver="fun1()" onMouseOut="fun2()">
				 	<a href="tencent://message/?uin=3121914394&Site=www.lanrentuku.com&Menu=yes"　id="kefu" >客服ＱＱ</a></li> 
				 <a href="tencent://message/?uin=3121914394&Site=www.lanrentuku.com&Menu=yes" >
				 <div id="divkefu" style="width: 160px;height: 55px;text-align: center;line-height: 55px;font-weight:bold;font-size:25;letter-spacing: 2px;color:whitesmoke ;background: #FFC125;border: 1px solid #FFC125;border-right:none; ;position: absolute;top:315px;right: 29px;display: none;">3121914394</div> 
				</a>
				<li class="f3"><a href="/index.php/Home/User/my_order" >足迹</a></li>
				<li class="f4"><a href="">手机版</a></li>
				<li class="toTop"><a href="#">TOP</a></li>
			</ul>
		</div> 
<!-- 代码 开始 -->
 <!--  <link href="__CSS__lrtk.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__jquery-1.9.1.min.js"></script>
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
	<div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin=3121914394&Site=www.lanrentuku.com&Menu=yes"><img src="__IMAGES__qq.png" align="absmiddle">&nbsp;&nbsp;</a></li>
          <li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin=3121914394&Site=www.lanrentuku.com&Menu=yes"><img src="__IMAGES__qq.png" align="absmiddle">&nbsp;&nbsp;</a></li>
            <li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin=3121914394&Site=www.lanrentuku.com&Menu=yes"><img src="__IMAGES__qq.png" align="absmiddle">&nbsp;&nbsp;在线客服3号</a></li> -->
        </ul>
       <!--  <div class="floatDtxt">热线电话</div>
        <div class="floatDtel"><img src="__IMAGES__online_phone.jpg" width="155" height="45" alt=""></div>-->
<!--         <div style="text-align:center;padding:10px 0 5px 0;background:#EBEBEB;"><img src="__IMAGES__wap_ico.jpg"><br> 宛美公众账号</div>
    </div> -->
    <!-- <div class="floatDbg"></div> -->
</div>
<script type="text/javascript" src="__JS__lrtk.js"></script>
<!-- 代码 结束 -->		
		<script type="text/javascript">
		function fun1(){
		$(document).ready(function(){
			// alert(1);
			$("#divkefu").css("display","block");
		})	
		}

		function fun2(){
		$(document).ready(function(){
			// alert(1);
			$("#divkefu").css("display","none");
		})	
		}		
		</script>

</body>
</html>