<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="页面描述"/>
	<meta name="keywords" content="关键字,关键字"/>
	<meta name="robots" content="index,follow"/>
	<meta name="renderer" content="webkit">
	<title></title>
	<link rel="stylesheet" href="__CSS__global.css">
	<link rel="stylesheet" href="__CSS__succeed.css">
</head>
<body>
  <include file="Common/header" />
	<div class="center-block">
    <div class="su_main">
      <div class="sm_top">
        <h2>欢迎注册宛美商城</h2>
        <div class="gonxi"><span><i class="fa fa-check-circle"></i></span>恭喜您完成注册！</div>
        <div class="ResBut">
          <a href="/index.php/Home/Index/index" class="nextStep">开始购物</a>
          <div class="clear"></div>
        </div>
      </div>
      <div class="pay_complete_tab cl">
        <a href="javascript:;" class="on fl">最近热卖</a>
        <a href="javascript:;" class="fl">商城推荐</a>
      </div>
      <div class="pay_complete_tab_block">
        <ul class="cl goods">
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__3.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
              <span class="fr r">进口食品</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__3.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
        </ul>
        <ul class="cl goods">
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__3.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
              <span class="fr r">进口食品</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__3.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
          <li><a href="">
            <img src="__IMAGES__2.jpg"/>
            <div class="infoTop cl">
              <span class="fl l">¥166.00</span>
            </div>
            <p class="infoCenter">七斤嫂绍兴黄酒 十五年陈绍兴花雕酒整500ml*6瓶</p>
            <p class="infoBottom">月成交 <span>3887</span> 笔评价 <span>8119</span></p>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <include file="Common/footer" />
<script type="text/javascript" src="__JS__jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__JS__js.js"></script>